<%- include("partials/head", headerData); %>

<%- include("partials/header"); %>

<% if (typeof(companyCode) != "undefined") { %>
<script type="text/javascript">
	const dataCompanyCode = "<%= companyCode %>";
</script>
<% } else if (typeof(headerData.companyCode) != "undefined") { %>
<script type="text/javascript">
	const dataCompanyCode = "<%= headerData.companyCode %>";
</script>
<% } else { %>
<script type="text/javascript">
	const noDataCompanyCode = "companyCode not found!";
</script>
<% } %>

<!-- BEGIN: Content -->
<div class="app-content content">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-2">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-left mb-0">General Settings</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="javascript:void(0);">General Settings</a>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body">
			<section class="horizontal-wizard">
				<div class="bs-stepper horizontal-wizard-example">
					<div class="bs-stepper-content">
						<div id="create-general-settings" class="content active dstepper-block">
							<div class="content-header">
								<% if (typeof(alldata) != "undefined" && alldata.status != 0) { %>
								<h5 class="mb-0">Edit General Settings</h5>
								<% } else { %>
								<h5 class="mb-0">Create General Settings</h5>
								<% } %>
								<small class="text-muted">Set Your General Settings.</small>
							</div>
							<form id="frm-save-general-settings" action="javascript:void(0);" autocomplete="off">
								<div class="row">
									<% if (typeof(alldata) != "undefined" && alldata.status != 0) { %>
									<input type="hidden" name="data_id" id="data_id" value="<%= alldata._id %>" />
									<% } else { %>
									<input type="hidden" name="data_id" id="data_id" />
									<% } %>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<h4>Logs</h4>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" style="padding: 0 45px;">
										<div class="demo-inline-spacing">
											<div class="custom-control custom-checkbox" style="margin-top: 7px;">
												<% if (typeof(alldata) != "undefined" && alldata.status != 0 && alldata.data[0].enableLogs == "on") { %>
												<input type="checkbox" name="enableLogs" id="enableLogs" class="custom-control-input" aria-label="Enable Logs" checked />
												<% } else { %>
												<input type="checkbox" name="enableLogs" id="enableLogs" class="custom-control-input" aria-label="Enable Logs" />
												<% } %>
												<label class="custom-control-label" for="enableLogs">Enable Logs</label>
												<div>
													This option will logging when item enabled logs
												</div>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6" style="padding: 0 45px;">
									</div>
									<div class="form-group col-md-6" style="padding: 0 45px;">
										<div class="demo-inline-spacing">
											<div class="custom-control custom-checkbox" style="margin-top: 7px;">
												<% if (typeof(alldata) != "undefined" && alldata.status != 0 && alldata.data[0].enableFullLogs == "on") { %>
												<input type="checkbox" name="enableFullLogs" id="enableFullLogs" class="custom-control-input" aria-label="Enable Full Logs" checked />
												<% } else { %>
												<input type="checkbox" name="enableFullLogs" id="enableFullLogs" class="custom-control-input" aria-label="Enable Full Logs" />
												<% } %>
												<label class="custom-control-label" for="enableFullLogs">Enable Full Logs</label>
												<div>
													This option will be record all item logs, also included when item disabled logs
												</div>
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-primary waves-effect mt-1" id="save_general_settings" type="submit">Save</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- END: Content -->

<%- include("partials/footer", footerData); %>